<p class="instruction">Please make a move.</p>
<%= content_for :game_js do %>
  <script type="text/javascript">
    $(document).ready(function(){

      function clear(){
        return !taken($(this)) ? $(this).html("") : false;
      }

      function addPreview(){
        if(activeSpace($(this)))
          return $(this).html("<span class='letterPreview'>" + playerLetter + "</span>");
      }

      function activeSpace(space) {
        return !taken(space) && !gameOver;
      }

      function taken(field){
        field = field instanceof($) ? field : $(field);
        return boardState[field.attr('id')] !== ""
      }

      function endGame() {
        $('.instruction').html('<p class="notice">GAME OVER!</p><%= escape_javascript(render :partial => '/games/form') %>');
        gameOver = true;
      }

      function updateBoardState(state) {
        boardState = state;
        updateBoardMarkup();
      }

      function updateGameStatus(data) {
        if(data.gameOver){
          endGame();
          showWinner(data.winningRow, 3);
        }
      }

      function updateBoardMarkup() {
        console.log(boardState);
        $('td.field').each(function(){
          fieldID = $(this).attr('id');
          letter = boardState[fieldID];
          letter == "" ? clear() : $(this).html("<span class=" + letter + ">" + letter + "</span");
        });
      }

      function showWinner(winningRow, blinkAmount) {
        $('td.field').each(function(){
          if($.inArray($(this).attr('id'), winningRow) > -1){
            for(i=0;i<blinkAmount;i++){
              $(this).fadeOut(300).fadeIn(300);
            }
          }
        });
      }

      $('td.field').click(function(){
        var id = $(this).attr('id');
        if(activeSpace($(this))){
          boardState[id] = playerLetter;
          $.ajax({
            type: "POST",
            url: "/games/" + <%= @game.id %> + "/move",
            data: {board_state: boardState},
            success: function(data) { updateBoardState(data.boardState), updateGameStatus(data) },
            error: function(data) { updateBoardState($.parseJSON(data.responseText).boardState), updateGameStatus(data.responseText) },
            dataType: "json"
          });
        } else {
          endGame();
          showWinner(winningRow, 3);
        }
      });

      playerLetter = "X";
      boardState = <%= raw @board_state %>;
      gameOver = <%= @parser.game_over? %>;
      winningRow = <%= raw @parser.winning_row_spaces %>;

      updateBoardMarkup(boardState);
      $('td.field').hover(addPreview, clear);
    });
  </script>
<% end %>
